### This is only used to test code before adding it to the tutorials

In [7]:
storage unit ;
parameter unit ;

storage unit;
parameter unit;

In [8]:
BEGIN Unit Unit ;

value           type
--------------  --------------
Pair Unit Unit  pair unit unit

In [17]:
DROP ;
PUSH int 4 ;
PUSH int 9 ;
EDIV ;
IF_NONE
    { FAIL }
    { 
        DUP ;
        CAR @quotient ;
        SWAP ;
        CDR @remainder ;
    }

DROP_ALL: drop all;
PUSH: push 4;
PUSH: push 9;
EDIV: pop 9, 4; push ((2, 1),);
IF_NONE: pop ((2, 1),); push (2, 1);
  DUP: push (2, 1);
  CAR: pop (2, 1); push 2;
  SWAP: pop 2, (2, 1); push 2; push (2, 1);
  CDR: pop (2, 1); push 1;

  value  type    name
-------  ------  ----------
      1  nat     @remainder

In [18]:
DUMP ;

  value  type    name
-------  ------  ----------
      1  nat     @remainder
      2  int     @quotient

----------------------------

In [17]:
storage mutez ;
parameter unit ;
BEGIN Unit 1000 ;
PATCH AMOUNT 10000000 ;
PATCH BALANCE 25700000 ;

storage mutez;
parameter unit;
BEGIN: use %default; drop all; push (Unit, 1000);
PATCH: set AMOUNT=10000000;
PATCH: set BALANCE=25700000;

In [18]:
DROP ;
AMOUNT ;
BALANCE ;
ADD ;
DUP @new_balance ;
PUSH @limit mutez 100000000 ; # 100 tez
DUMP ;

DROP: pop (Unit, 1000);
AMOUNT: push 10000000;
BALANCE: push 25700000;
ADD: pop 25700000, 10000000; push 35700000;
DUP: push 35700000;
PUSH: push 100000000;

    value  type    name
---------  ------  ------------
100000000  mutez   @limit
 35700000  mutez   @new_balance
 35700000  mutez

In [19]:
IFCMPGT
    { NIL operation ; PAIR }
    { PUSH string "BalanceExceeded" ; FAILWITH }

COMPARE: pop 100000000, 35700000; push 1;
GT: pop 1; push True;
IF: pop True;
  NIL: push [];
  PAIR: pop [], 35700000; push ([], 35700000);

value             type
----------------  ---------------------------
Pair {} 35700000  pair (list operation) mutez

In [20]:
COMMIT

   value  type
--------  ------
35700000  mutez

In [25]:
storage unit ;
parameter unit ;
code {
    DROP ;
    PATCH AMOUNT 5670000 ;
    AMOUNT ;
    PUSH mutez 0 ;
    IFCMPEQ
        { FAIL }
        {
            PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;
            CONTRACT unit ;
            IF_NONE
                { FAIL }
                {
                    AMOUNT ;
                    UNIT ;
                    TRANSFER_TOKENS ;
                    NIL operation ;
                    SWAP ;
                    CONS ;
                    UNIT ;
                    SWAP ;
                    PAIR
                }
        }
} ;

RUN %default Unit Unit ;

storage unit;
parameter unit;
code { DROP ; PATCH AMOUNT 5670000 ; AMOUNT ; PUSH mutez 0 ; { { COMPARE ; EQ } ; IF { { UNIT ; FAILWITH } } { PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ; CONTRACT unit ; IF_NONE { { UNIT ; FAILWITH } } { AMOUNT ; UNIT ; TRANSFER_TOKENS ; NIL operation ; SWAP ; CONS ; UNIT ; SWAP ; PAIR } } } };
RUN: use %default; drop all; push (Unit, Unit);
DROP: pop (Unit, Unit);
PATCH: set AMOUNT=5670000;
AMOUNT: push 5670000;
PUSH: push 0;
COMPARE: pop 0, 5670000; push -1;
EQ: pop -1; push False;
IF: pop False;
PUSH: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
CONTRACT: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; skip check; push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',);
IF_NONE: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default;
AMOUNT: push 5670000;
UNIT: push Unit;
TRANSFER_TOKENS: pop Unit, 5670000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; set BALANCE=10030000; push <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
NIL: push [];
SWAP: pop [], <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>; push []; push <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
CONS: pop <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>, []; push ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
UNIT: push Unit;
SWAP: pop Unit, ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>']; push Unit; push ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
PAIR: pop ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], Unit; push (['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], Unit);

value    type
-------  ------
Unit     unit
kind         target                                  amount  entrypoint    parameters
-----------  ------------------------------------  --------  ------------  ------------
transaction  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb   5670000  default       Unit

In [30]:
storage address ;
parameter unit ;
code {
    PATCH BALANCE 101000000 ;
    PATCH AMOUNT 9000000 ;
    CDR ;
    PUSH mutez 100000000 ;
    BALANCE ;
    IFCMPLT
        { PUSH string "INSUFFICIENT_BALANCE" ; FAILWITH }
        {
            PUSH mutez 0 ;
            AMOUNT ;
            IFCMPEQ
                { PUSH string "INSUFFICIENT_AMOUNT" ; FAILWITH }
                {
                    PUSH nat 2 ;
                    AMOUNT ;
                    EDIV ;
                    IF_NONE
                        { FAIL }
                        {
                            CAR ;
                            DIP { DUP } ;
                            SWAP ;
                            CONTRACT unit ;
                            IF_NONE
                                { FAIL }
                                {
                                    SWAP ;
                                    UNIT ;
                                    TRANSFER_TOKENS ;
                                    NIL operation ;
                                    SWAP ;
                                    CONS ;
                                    PAIR
                                }
                        }
                }
        }
} ;
RUN %default Unit "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;

storage address;
parameter unit;
code { PATCH BALANCE 101000000 ; PATCH AMOUNT 9000000 ; CDR ; PUSH mutez 100000000 ; BALANCE ; { { COMPARE ; LT } ; IF { PUSH string "INSUFFICIENT_BALANCE" ; FAILWITH } { PUSH mutez 0 ; AMOUNT ; { { COMPARE ; EQ } ; IF { PUSH string "INSUFFICIENT_AMOUNT" ; FAILWITH } { PUSH nat 2 ; AMOUNT ; EDIV ; IF_NONE { { UNIT ; FAILWITH } } { CAR ; DIP { DUP } ; SWAP ; CONTRACT unit ; IF_NONE { { UNIT ; FAILWITH } } { SWAP ; UNIT ; TRANSFER_TOKENS ; NIL operation ; SWAP ; CONS ; PAIR } } } } } } };
RUN: use %default; drop all; push (Unit, 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb');
PATCH: set BALANCE=101000000;
PATCH: set AMOUNT=9000000;
CDR: pop (Unit, 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb'); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
PUSH: push 100000000;
BALANCE: push 101000000;
COMPARE: pop 101000000, 100000000; push 1;
LT: pop 1; push False;
IF: pop False;
PUSH: push 0;
AMOUNT: push 9000000;
COMPARE: pop 9000000, 0; push 1;
EQ: pop 1; push False;
IF: pop False;
PUSH: push 2;
AMOUNT: push 9000000;
EDIV: pop 9000000, 2; push ((4500000, 0),);
IF_NONE: pop ((4500000, 0),); push (4500000, 0);
  CAR: pop (4500000, 0); push 4500000;
  DIP: protect 1 item(s);
    DUP: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
    restore 1 item(s);
  SWAP: pop 4500000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push 4500000; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
  CONTRACT: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; skip check; push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',);
  IF_NONE: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default;
    SWAP: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default, 4500000; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; push 4500000;
    UNIT: push Unit;
    TRANSFER_TOKENS: pop Unit, 4500000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; set BALANCE=96500000; push <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
    NIL: push [];
    SWAP: pop [], <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>; push []; push <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
    CONS: pop <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>, []; push ['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
    PAIR: pop ['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push (['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb');

value                                   type
--------------------------------------  -------
"tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb"  address
kind         target                                  amount  entrypoint    parameters
-----------  ------------------------------------  --------  ------------  ------------
transaction  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb   4500000  default       Unit

In [7]:
storage (list string) ;
parameter string ;
BEGIN "tezos" {};

storage (list string);
parameter string;
BEGIN: use %default; drop all; push ('tezos', []);

value            type
---------------  -------------------------
Pair "tezos" {}  pair string (list string)

In [8]:
DUP ; CAR ; SWAP ; CDR ; DUMP ;

DUP: push ('tezos', []);
CAR: pop ('tezos', []); push tezos;
SWAP: pop tezos, ('tezos', []); push tezos; push ('tezos', []);
CDR: pop ('tezos', []); push [];

value    type
-------  -----------
{}       list string
"tezos"  string

In [9]:
IF_CONS
    { FAIL }
    { NIL string ; SWAP ; CONS } ;
DUMP ;

IF_CONS: pop [];
  NIL: push [];
  SWAP: pop [], tezos; push []; push tezos;
  CONS: pop tezos, []; push ['tezos'];

value        type
-----------  -----------
{ "tezos" }  list string

In [19]:
storage int ;
parameter (list int) ;
BEGIN { 7 ; 9 ; 3 } 0;
CAR ; DUMP ;

storage int;
parameter (list int);
BEGIN: use %default; drop all; push ([7, 9, 3], 0);
CAR: pop ([7, 9, 3], 0); push [7, 9, 3];

value          type
-------------  --------
{ 7 ; 9 ; 3 }  list int

In [20]:
ITER { PUSH int 2 ; ADD } ;
DUMP ;

ITER: pop [7, 9, 3]; push 7;
  PUSH: push 2;
  ADD: pop 2, 7; push 9;
  push 9;
  PUSH: push 2;
  ADD: pop 2, 9; push 11;
  push 3;
  PUSH: push 2;
  ADD: pop 2, 3; push 5;

  value  type
-------  ------
      5  int
     11  int
      9  int

In [10]:
storage (list string) ;
parameter (list string) ;
code {
    CAR ;
    MAP {
        DUP ;
        SIZE ;
        PUSH nat 5 ;
        IFCMPGE
            {}
            { PUSH string "X" }
    } ;
    NIL operation ;
    PAIR
} ;

RUN %default { "tezos" ; "bakingbad" ; "taco" ; "crypto" } {} ;

storage (list string);
parameter (list string);
code { CAR ; MAP { DUP ; SIZE ; PUSH nat 5 ; { { COMPARE ; GE } ; IF {} { PUSH string "X" } } } ; NIL operation ; PAIR };
RUN: use %default; drop all; push (['tezos', 'bakingbad', 'taco', 'crypto'], []);
CAR: pop (['tezos', 'bakingbad', 'taco', 'crypto'], []); push ['tezos', 'bakingbad', 'taco', 'crypto'];
MAP: pop ['tezos', 'bakingbad', 'taco', 'crypto']; push tezos;
DUP: push tezos;
SIZE: pop tezos; push 5;
PUSH: push 5;
COMPARE: pop 5, 5; push 0;
GE: pop 0; push True;
IF: pop True;
pop tezos; push bakingbad;
DUP: push bakingbad;
SIZE: pop bakingbad; push 9;
PUSH: push 5;
COMPARE: pop 5, 9; push -1;
GE: pop -1; push False;
IF: pop False;
PUSH: push X;
pop X; push taco;
DUP: push taco;
SIZE: pop taco; push 4;
PUSH: push 5;
COMPARE: pop 5, 4; push 1;
GE: pop 1; push True;
IF: pop True;
pop taco; push crypto;
DUP: push crypto;
SIZE: pop crypto; push 6;
PUSH: push 5;
COMPARE: pop 5, 6; push -1;
GE: pop -1; push False;
IF: pop False;
PUSH: push X;
pop X; push ['tezos', 'X', 'taco', 'X'];
NIL: push [];
PAIR: pop [], ['tezos', 'X', 'taco', 'X']; push ([], ['tezos', 'X', 'taco', 'X']);

value                             type
--------------------------------  -----------
{ "tezos" ; "X" ; "taco" ; "X" }  list string