### This is only used to test code before adding it to the tutorials

In [7]:
storage unit ;
parameter unit ;

storage unit;
parameter unit;

In [8]:
BEGIN Unit Unit ;

value           type
--------------  --------------
Pair Unit Unit  pair unit unit

In [17]:
DROP ;
PUSH int 4 ;
PUSH int 9 ;
EDIV ;
IF_NONE
    { FAIL }
    { 
        DUP ;
        CAR @quotient ;
        SWAP ;
        CDR @remainder ;
    }

DROP_ALL: drop all;
PUSH: push 4;
PUSH: push 9;
EDIV: pop 9, 4; push ((2, 1),);
IF_NONE: pop ((2, 1),); push (2, 1);
  DUP: push (2, 1);
  CAR: pop (2, 1); push 2;
  SWAP: pop 2, (2, 1); push 2; push (2, 1);
  CDR: pop (2, 1); push 1;

  value  type    name
-------  ------  ----------
      1  nat     @remainder

In [18]:
DUMP ;

  value  type    name
-------  ------  ----------
      1  nat     @remainder
      2  int     @quotient

----------------------------

In [17]:
storage mutez ;
parameter unit ;
BEGIN Unit 1000 ;
PATCH AMOUNT 10000000 ;
PATCH BALANCE 25700000 ;

storage mutez;
parameter unit;
BEGIN: use %default; drop all; push (Unit, 1000);
PATCH: set AMOUNT=10000000;
PATCH: set BALANCE=25700000;

In [18]:
DROP ;
AMOUNT ;
BALANCE ;
ADD ;
DUP @new_balance ;
PUSH @limit mutez 100000000 ; # 100 tez
DUMP ;

DROP: pop (Unit, 1000);
AMOUNT: push 10000000;
BALANCE: push 25700000;
ADD: pop 25700000, 10000000; push 35700000;
DUP: push 35700000;
PUSH: push 100000000;

    value  type    name
---------  ------  ------------
100000000  mutez   @limit
 35700000  mutez   @new_balance
 35700000  mutez

In [19]:
IFCMPGT
    { NIL operation ; PAIR }
    { PUSH string "BalanceExceeded" ; FAILWITH }

COMPARE: pop 100000000, 35700000; push 1;
GT: pop 1; push True;
IF: pop True;
  NIL: push [];
  PAIR: pop [], 35700000; push ([], 35700000);

value             type
----------------  ---------------------------
Pair {} 35700000  pair (list operation) mutez

In [20]:
COMMIT

   value  type
--------  ------
35700000  mutez