### This is only used to test code before adding it to the tutorials

In [7]:
storage unit ;
parameter unit ;

storage unit;
parameter unit;

In [8]:
BEGIN Unit Unit ;

value           type
--------------  --------------
Pair Unit Unit  pair unit unit

In [17]:
DROP ;
PUSH int 4 ;
PUSH int 9 ;
EDIV ;
IF_NONE
    { FAIL }
    { 
        DUP ;
        CAR @quotient ;
        SWAP ;
        CDR @remainder ;
    }

DROP_ALL: drop all;
PUSH: push 4;
PUSH: push 9;
EDIV: pop 9, 4; push ((2, 1),);
IF_NONE: pop ((2, 1),); push (2, 1);
  DUP: push (2, 1);
  CAR: pop (2, 1); push 2;
  SWAP: pop 2, (2, 1); push 2; push (2, 1);
  CDR: pop (2, 1); push 1;

  value  type    name
-------  ------  ----------
      1  nat     @remainder

In [18]:
DUMP ;

  value  type    name
-------  ------  ----------
      1  nat     @remainder
      2  int     @quotient