# Michelson tutorial
## Chapter three
This chapter introduces conditional structures, fail operators and some useful macros to use in your Michelson code.

In [71]:
storage int ;
parameter int ;

storage int;
parameter int;

In [72]:
BEGIN 3 4 ;

value     type
--------  ------------
Pair 3 4  pair int int

In [73]:
DUP ; CAR @param ; SWAP ; CDR @storage ; DUMP ;

DUP: push (3, 4);
CAR: pop (3, 4); push 3;
SWAP: pop 3, (3, 4); push 3; push (3, 4);
CDR: pop (3, 4); push 4;

  value  type    name
-------  ------  --------
      4  int     @storage
      3  int

In [74]:
COMPARE ;

  value  type
-------  ------
      1  int

In [75]:
DROP ;
PUSH int 4 ; PUSH int 3 ; COMPARE ;

DROP: pop 1;
PUSH: push 4;
PUSH: push 3;
COMPARE: pop 3, 4; push -1;

  value  type
-------  ------
     -1  int

In [76]:
DROP ;
PUSH int 4 ; PUSH int 3 ;
COMPARE ; EQ ;

DROP: pop -1;
PUSH: push 4;
PUSH: push 3;
COMPARE: pop 3, 4; push -1;
EQ: pop -1; push False;

value    type
-------  ------
False    bool

In [77]:
DROP ;
PUSH int 4 ; PUSH int 4 ;
COMPARE ; EQ ;

DROP: pop False;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;

value    type
-------  ------
True     bool

In [78]:
DROP ;
PUSH int 4 ; PUSH int 4 ;
CMPEQ ;

DROP: pop True;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;

value    type
-------  ------
True     bool

In [79]:
IF 
    { PUSH string "Is true" } 
    { PUSH string "Is false"}

IF: pop True;
  PUSH: push Is true;

value      type
---------  ------
"Is true"  string

In [80]:
DROP ;
PUSH int 4 ; PUSH int 4 ; 
COMPARE ;
EQ ;
IF 
    { PUSH string "It's equal :)" } 
    { PUSH string "It is not equal :("}

DROP: pop Is true;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;
IF: pop True;
  PUSH: push It's equal :);

value            type
---------------  ------
"It's equal :)"  string

In [81]:
DROP ;
PUSH int 4 ; PUSH int 4 ; 
IFCMPEQ 
    { PUSH string "It's equal :)" } 
    { PUSH string "It is not equal :("}

DROP: pop It's equal :);
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;
IF: pop True;
  PUSH: push It's equal :);

value            type
---------------  ------
"It's equal :)"  string