# Michelson tutorial
## Chapter three
This chapter introduces conditional structures, fail operators and some useful macros to use in your Michelson code.

In [152]:
storage int ;
parameter int ;

storage int;
parameter int;

In [153]:
BEGIN 3 4 ;

value     type
--------  ------------
Pair 3 4  pair int int

In [154]:
DUP ; CAR @param ; SWAP ; CDR @storage ; DUMP ;

DUP: push (3, 4);
CAR: pop (3, 4); push 3;
SWAP: pop 3, (3, 4); push 3; push (3, 4);
CDR: pop (3, 4); push 4;

  value  type    name
-------  ------  --------
      4  int     @storage
      3  int

In [155]:
COMPARE ;

  value  type
-------  ------
      1  int

In [156]:
DROP ;
PUSH int 4 ; PUSH int 3 ; COMPARE ;

DROP: pop 1;
PUSH: push 4;
PUSH: push 3;
COMPARE: pop 3, 4; push -1;

  value  type
-------  ------
     -1  int

In [157]:
DROP ;
PUSH int 4 ; PUSH int 3 ;
COMPARE ; EQ ;

DROP: pop -1;
PUSH: push 4;
PUSH: push 3;
COMPARE: pop 3, 4; push -1;
EQ: pop -1; push False;

value    type
-------  ------
False    bool

In [158]:
DROP ;
PUSH int 4 ; PUSH int 4 ;
COMPARE ; EQ ;

DROP: pop False;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;

value    type
-------  ------
True     bool

In [159]:
DROP ;
PUSH int 3 ; PUSH int 4 ;
COMPARE ; NEQ ;

DROP: pop True;
PUSH: push 3;
PUSH: push 4;
COMPARE: pop 4, 3; push 1;
NEQ: pop 1; push True;

value    type
-------  ------
True     bool

In [160]:
DROP ;
PUSH int 4 ; PUSH int 4 ;
CMPEQ ;

DROP: pop True;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;

value    type
-------  ------
True     bool

In [161]:
IF 
    { PUSH string "Is true" } 
    { PUSH string "Is false"}

IF: pop True;
  PUSH: push Is true;

value      type
---------  ------
"Is true"  string

In [162]:
DROP ;
PUSH int 4 ; PUSH int 4 ; 
COMPARE ;
EQ ;
IF 
    { PUSH string "It's equal :)" } 
    { PUSH string "It is not equal :("}

DROP: pop Is true;
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;
IF: pop True;
  PUSH: push It's equal :);

value            type
---------------  ------
"It's equal :)"  string

In [163]:
DROP ;
PUSH int 4 ; PUSH int 4 ; 
IFCMPEQ 
    { PUSH string "It's equal :)" } 
    { PUSH string "It is not equal :("}

DROP: pop It's equal :);
PUSH: push 4;
PUSH: push 4;
COMPARE: pop 4, 4; push 0;
EQ: pop 0; push True;
IF: pop True;
  PUSH: push It's equal :);

value            type
---------------  ------
"It's equal :)"  string

In [164]:
DROP ;
PUSH string "hello world" ; PUSH string "hello world" ; 
IFCMPEQ 
    { PUSH string "It's the same string :)" } 
    { PUSH string "It is not the same string :("}

DROP: pop It's equal :);
PUSH: push hello world;
PUSH: push hello world;
COMPARE: pop hello world, hello world; push 0;
EQ: pop 0; push True;
IF: pop True;
  PUSH: push It's the same string :);

value                      type
-------------------------  ------
"It's the same string :)"  string

In [165]:
DROP ;
PUSH int 4 ; PUSH int 5 ;
IFCMPEQ
    { PUSH string "Same number!" }
    { FAIL }

DROP: pop It's the same string :);
PUSH: push 4;
PUSH: push 5;
COMPARE: pop 5, 4; push 1;
EQ: pop 1; push False;
IF: pop False;
  UNIT: push Unit;
  FAILWITH: pop Unit;

MichelsonRuntimeError: Unit
at IF -> FAILWITH

In [168]:
DROP ;
PUSH (option string) None ;
IF_NONE 
    { PUSH string "No value!" }
    { FAIL }

DROP: pop It's the same string :);
PUSH: push None;
IF_NONE: pop None;
  PUSH: push No value!;

value        type
-----------  ------
"No value!"  string

In [171]:
DROP ;
PUSH (option string) (Some "hello world") ;
IF_NONE 
    { FAIL }
    { }

DROP: pop hello world;
PUSH: push ('hello world',);
IF_NONE: pop ('hello world',); push hello world;

value          type
-------------  ------
"hello world"  string

In [172]:
DROP ;
PUSH bool True ;
ASSERT ;

DROP: pop hello world;
PUSH: push True;
IF: pop True;

In [173]:
PUSH int 4 ; PUSH int 5 ;
ASSERT_CMPEQ ;

PUSH: push 4;
PUSH: push 5;
COMPARE: pop 5, 4; push 1;
EQ: pop 1; push False;
IF: pop False;
  UNIT: push Unit;
  FAILWITH: pop Unit;

MichelsonRuntimeError: Unit
at IF -> FAILWITH

In [174]:
PUSH int 5 ; PUSH int 5 ;
ASSERT_CMPEQ ;

PUSH: push 5;
PUSH: push 5;
COMPARE: pop 5, 5; push 0;
EQ: pop 0; push True;
IF: pop True;

In [181]:
PUSH bool False ;
IF
    { PUSH string "Is true!" }
    { PUSH string "Is false!" ; FAILWITH } ;
DUMP ;

PUSH: push False;
IF: pop False;
  PUSH: push Is false!;
  FAILWITH: pop Is false!;

MichelsonRuntimeError: Is false!
at IF -> FAILWITH