### This is only used to test code before adding it to the tutorials

In [7]:
storage unit ;
parameter unit ;

storage unit;
parameter unit;

In [8]:
BEGIN Unit Unit ;

value           type
--------------  --------------
Pair Unit Unit  pair unit unit

In [17]:
DROP ;
PUSH int 4 ;
PUSH int 9 ;
EDIV ;
IF_NONE
    { FAIL }
    { 
        DUP ;
        CAR @quotient ;
        SWAP ;
        CDR @remainder ;
    }

DROP_ALL: drop all;
PUSH: push 4;
PUSH: push 9;
EDIV: pop 9, 4; push ((2, 1),);
IF_NONE: pop ((2, 1),); push (2, 1);
  DUP: push (2, 1);
  CAR: pop (2, 1); push 2;
  SWAP: pop 2, (2, 1); push 2; push (2, 1);
  CDR: pop (2, 1); push 1;

  value  type    name
-------  ------  ----------
      1  nat     @remainder

In [18]:
DUMP ;

  value  type    name
-------  ------  ----------
      1  nat     @remainder
      2  int     @quotient

----------------------------

In [17]:
storage mutez ;
parameter unit ;
BEGIN Unit 1000 ;
PATCH AMOUNT 10000000 ;
PATCH BALANCE 25700000 ;

storage mutez;
parameter unit;
BEGIN: use %default; drop all; push (Unit, 1000);
PATCH: set AMOUNT=10000000;
PATCH: set BALANCE=25700000;

In [18]:
DROP ;
AMOUNT ;
BALANCE ;
ADD ;
DUP @new_balance ;
PUSH @limit mutez 100000000 ; # 100 tez
DUMP ;

DROP: pop (Unit, 1000);
AMOUNT: push 10000000;
BALANCE: push 25700000;
ADD: pop 25700000, 10000000; push 35700000;
DUP: push 35700000;
PUSH: push 100000000;

    value  type    name
---------  ------  ------------
100000000  mutez   @limit
 35700000  mutez   @new_balance
 35700000  mutez

In [19]:
IFCMPGT
    { NIL operation ; PAIR }
    { PUSH string "BalanceExceeded" ; FAILWITH }

COMPARE: pop 100000000, 35700000; push 1;
GT: pop 1; push True;
IF: pop True;
  NIL: push [];
  PAIR: pop [], 35700000; push ([], 35700000);

value             type
----------------  ---------------------------
Pair {} 35700000  pair (list operation) mutez

In [20]:
COMMIT

   value  type
--------  ------
35700000  mutez

In [25]:
storage unit ;
parameter unit ;
code {
    DROP ;
    PATCH AMOUNT 5670000 ;
    AMOUNT ;
    PUSH mutez 0 ;
    IFCMPEQ
        { FAIL }
        {
            PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;
            CONTRACT unit ;
            IF_NONE
                { FAIL }
                {
                    AMOUNT ;
                    UNIT ;
                    TRANSFER_TOKENS ;
                    NIL operation ;
                    SWAP ;
                    CONS ;
                    UNIT ;
                    SWAP ;
                    PAIR
                }
        }
} ;

RUN %default Unit Unit ;

storage unit;
parameter unit;
code { DROP ; PATCH AMOUNT 5670000 ; AMOUNT ; PUSH mutez 0 ; { { COMPARE ; EQ } ; IF { { UNIT ; FAILWITH } } { PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ; CONTRACT unit ; IF_NONE { { UNIT ; FAILWITH } } { AMOUNT ; UNIT ; TRANSFER_TOKENS ; NIL operation ; SWAP ; CONS ; UNIT ; SWAP ; PAIR } } } };
RUN: use %default; drop all; push (Unit, Unit);
DROP: pop (Unit, Unit);
PATCH: set AMOUNT=5670000;
AMOUNT: push 5670000;
PUSH: push 0;
COMPARE: pop 0, 5670000; push -1;
EQ: pop -1; push False;
IF: pop False;
PUSH: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
CONTRACT: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; skip check; push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',);
IF_NONE: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default;
AMOUNT: push 5670000;
UNIT: push Unit;
TRANSFER_TOKENS: pop Unit, 5670000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; set BALANCE=10030000; push <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
NIL: push [];
SWAP: pop [], <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>; push []; push <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
CONS: pop <send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>, []; push ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
UNIT: push Unit;
SWAP: pop Unit, ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>']; push Unit; push ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
PAIR: pop ['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], Unit; push (['<send 5670000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], Unit);

value    type
-------  ------
Unit     unit
kind         target                                  amount  entrypoint    parameters
-----------  ------------------------------------  --------  ------------  ------------
transaction  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb   5670000  default       Unit

In [30]:
storage address ;
parameter unit ;
code {
    PATCH BALANCE 101000000 ;
    PATCH AMOUNT 9000000 ;
    CDR ;
    PUSH mutez 100000000 ;
    BALANCE ;
    IFCMPLT
        { PUSH string "INSUFFICIENT_BALANCE" ; FAILWITH }
        {
            PUSH mutez 0 ;
            AMOUNT ;
            IFCMPEQ
                { PUSH string "INSUFFICIENT_AMOUNT" ; FAILWITH }
                {
                    PUSH nat 2 ;
                    AMOUNT ;
                    EDIV ;
                    IF_NONE
                        { FAIL }
                        {
                            CAR ;
                            DIP { DUP } ;
                            SWAP ;
                            CONTRACT unit ;
                            IF_NONE
                                { FAIL }
                                {
                                    SWAP ;
                                    UNIT ;
                                    TRANSFER_TOKENS ;
                                    NIL operation ;
                                    SWAP ;
                                    CONS ;
                                    PAIR
                                }
                        }
                }
        }
} ;
RUN %default Unit "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;

storage address;
parameter unit;
code { PATCH BALANCE 101000000 ; PATCH AMOUNT 9000000 ; CDR ; PUSH mutez 100000000 ; BALANCE ; { { COMPARE ; LT } ; IF { PUSH string "INSUFFICIENT_BALANCE" ; FAILWITH } { PUSH mutez 0 ; AMOUNT ; { { COMPARE ; EQ } ; IF { PUSH string "INSUFFICIENT_AMOUNT" ; FAILWITH } { PUSH nat 2 ; AMOUNT ; EDIV ; IF_NONE { { UNIT ; FAILWITH } } { CAR ; DIP { DUP } ; SWAP ; CONTRACT unit ; IF_NONE { { UNIT ; FAILWITH } } { SWAP ; UNIT ; TRANSFER_TOKENS ; NIL operation ; SWAP ; CONS ; PAIR } } } } } } };
RUN: use %default; drop all; push (Unit, 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb');
PATCH: set BALANCE=101000000;
PATCH: set AMOUNT=9000000;
CDR: pop (Unit, 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb'); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
PUSH: push 100000000;
BALANCE: push 101000000;
COMPARE: pop 101000000, 100000000; push 1;
LT: pop 1; push False;
IF: pop False;
PUSH: push 0;
AMOUNT: push 9000000;
COMPARE: pop 9000000, 0; push 1;
EQ: pop 1; push False;
IF: pop False;
PUSH: push 2;
AMOUNT: push 9000000;
EDIV: pop 9000000, 2; push ((4500000, 0),);
IF_NONE: pop ((4500000, 0),); push (4500000, 0);
  CAR: pop (4500000, 0); push 4500000;
  DIP: protect 1 item(s);
    DUP: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
    restore 1 item(s);
  SWAP: pop 4500000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push 4500000; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
  CONTRACT: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; skip check; push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',);
  IF_NONE: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default',); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default;
    SWAP: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default, 4500000; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; push 4500000;
    UNIT: push Unit;
    TRANSFER_TOKENS: pop Unit, 4500000, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb%default; set BALANCE=96500000; push <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
    NIL: push [];
    SWAP: pop [], <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>; push []; push <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>;
    CONS: pop <send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>, []; push ['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'];
    PAIR: pop ['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push (['<send 4500000 to tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb>'], 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb');

value                                   type
--------------------------------------  -------
"tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb"  address
kind         target                                  amount  entrypoint    parameters
-----------  ------------------------------------  --------  ------------  ------------
transaction  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb   4500000  default       Unit

In [7]:
storage (list string) ;
parameter string ;
BEGIN "tezos" {};

storage (list string);
parameter string;
BEGIN: use %default; drop all; push ('tezos', []);

value            type
---------------  -------------------------
Pair "tezos" {}  pair string (list string)

In [8]:
DUP ; CAR ; SWAP ; CDR ; DUMP ;

DUP: push ('tezos', []);
CAR: pop ('tezos', []); push tezos;
SWAP: pop tezos, ('tezos', []); push tezos; push ('tezos', []);
CDR: pop ('tezos', []); push [];

value    type
-------  -----------
{}       list string
"tezos"  string

In [9]:
IF_CONS
    { FAIL }
    { NIL string ; SWAP ; CONS } ;
DUMP ;

IF_CONS: pop [];
  NIL: push [];
  SWAP: pop [], tezos; push []; push tezos;
  CONS: pop tezos, []; push ['tezos'];

value        type
-----------  -----------
{ "tezos" }  list string

In [19]:
storage int ;
parameter (list int) ;
BEGIN { 7 ; 9 ; 3 } 0;
CAR ; DUMP ;

storage int;
parameter (list int);
BEGIN: use %default; drop all; push ([7, 9, 3], 0);
CAR: pop ([7, 9, 3], 0); push [7, 9, 3];

value          type
-------------  --------
{ 7 ; 9 ; 3 }  list int

In [20]:
ITER { PUSH int 2 ; ADD } ;
DUMP ;

ITER: pop [7, 9, 3]; push 7;
  PUSH: push 2;
  ADD: pop 2, 7; push 9;
  push 9;
  PUSH: push 2;
  ADD: pop 2, 9; push 11;
  push 3;
  PUSH: push 2;
  ADD: pop 2, 3; push 5;

  value  type
-------  ------
      5  int
     11  int
      9  int

In [10]:
storage (list string) ;
parameter (list string) ;
code {
    CAR ;
    MAP {
        DUP ;
        SIZE ;
        PUSH nat 5 ;
        IFCMPGE
            {}
            { PUSH string "X" }
    } ;
    NIL operation ;
    PAIR
} ;

RUN %default { "tezos" ; "bakingbad" ; "taco" ; "crypto" } {} ;

storage (list string);
parameter (list string);
code { CAR ; MAP { DUP ; SIZE ; PUSH nat 5 ; { { COMPARE ; GE } ; IF {} { PUSH string "X" } } } ; NIL operation ; PAIR };
RUN: use %default; drop all; push (['tezos', 'bakingbad', 'taco', 'crypto'], []);
CAR: pop (['tezos', 'bakingbad', 'taco', 'crypto'], []); push ['tezos', 'bakingbad', 'taco', 'crypto'];
MAP: pop ['tezos', 'bakingbad', 'taco', 'crypto']; push tezos;
DUP: push tezos;
SIZE: pop tezos; push 5;
PUSH: push 5;
COMPARE: pop 5, 5; push 0;
GE: pop 0; push True;
IF: pop True;
pop tezos; push bakingbad;
DUP: push bakingbad;
SIZE: pop bakingbad; push 9;
PUSH: push 5;
COMPARE: pop 5, 9; push -1;
GE: pop -1; push False;
IF: pop False;
PUSH: push X;
pop X; push taco;
DUP: push taco;
SIZE: pop taco; push 4;
PUSH: push 5;
COMPARE: pop 5, 4; push 1;
GE: pop 1; push True;
IF: pop True;
pop taco; push crypto;
DUP: push crypto;
SIZE: pop crypto; push 6;
PUSH: push 5;
COMPARE: pop 5, 6; push -1;
GE: pop -1; push False;
IF: pop False;
PUSH: push X;
pop X; push ['tezos', 'X', 'taco', 'X'];
NIL: push [];
PAIR: pop [], ['tezos', 'X', 'taco', 'X']; push ([], ['tezos', 'X', 'taco', 'X']);

value                             type
--------------------------------  -----------
{ "tezos" ; "X" ; "taco" ; "X" }  list string

In [21]:
storage unit ;
parameter unit ;
BEGIN Unit Unit ;
PUSH (option string) (Some "stuff") ;

storage unit;
parameter unit;
BEGIN: use %default; drop all; push (Unit, Unit);
PUSH: push ('stuff',);

value         type
------------  -------------
Some "stuff"  option string

In [1]:

    parameter unit ;
    storage string ;
    code {
        PUSH timestamp "2020-06-30T00:00:00Z" ;
        NOW ;
        IFCMPGT
            {
                PUSH timestamp "2020-07-01T00:00:00Z" ;
                NOW ;
                IFCMPLT
                    { PUSH string "Happy 2nd birthday Tezos!" }
                    { PUSH string "Not today!" } ;
            }
            { PUSH string "Not today!" } ;
        NIL operation ;
        PAIR
    } ;

    RUN %default Unit "" ;

parameter unit;
storage string;
code { PUSH timestamp "2020-06-30T00:00:00Z" ; NOW ; { { COMPARE ; GT } ; IF { PUSH timestamp "2020-07-01T00:00:00Z" ; NOW ; { { COMPARE ; LT } ; IF { PUSH string "Happy 2nd birthday Tezos!" } { PUSH string "Not today!" } } } { PUSH string "Not today!" } } ; NIL operation ; PAIR };
RUN: use %default; drop all; push (Unit, '');
PUSH: push 1593475200;
NOW: push 1594043059;
COMPARE: pop 1594043059, 1593475200; push 1;
GT: pop 1; push True;
IF: pop True;
PUSH: push 1593561600;
NOW: push 1594043059;
COMPARE: pop 1594043059, 1593561600; push 1;
LT: pop 1; push False;
IF: pop False;
PUSH: push Not today!;
NIL: push [];
PAIR: pop [], Not today!; push ([], 'Not today!');

value         type
------------  ------
"Not today!"  string

In [11]:
storage nat ;
parameter (pair nat nat) ;
BEGIN (Pair 44 33) 0 ;
CAR ;
UNPAIR ;
PACK ;
SWAP ;
PACK ;
CONCAT ;
UNPACK nat ;
DUMP ;

storage nat;
parameter (pair nat nat);
BEGIN: use %default; drop all; push ((44, 33), 0);
CAR: pop ((44, 33), 0); push (44, 33);
DUP: push (44, 33);
CAR: pop (44, 33); push 44;
DIP: protect 1 item(s);
CDR: pop (44, 33); push 33;
restore 1 item(s);
PACK: pop 44; push 05002c;
SWAP: pop 05002c, 33; push 05002c; push 33;
PACK: pop 33; push 050021;
CONCAT: pop 050021; pop 05002c; push 05002105002c;
UNPACK: pop 05002105002c; push (33,);

value    type
-------  ----------
Some 33  option nat

In [35]:
storage (set nat) ;
parameter nat ;
BEGIN 4 { 1 ; 2 ; 3 ; 4 } ;
UNPAIR ;
PUSH bool True ;
SWAP ;
UPDATE ;
DUMP ;

storage (set nat);
parameter nat;
BEGIN: use %default; drop all; push (4, {1, 2, 3, 4});
DUP: push (4, {1, 2, 3, 4});
CAR: pop (4, {1, 2, 3, 4}); push 4;
DIP: protect 1 item(s);
CDR: pop (4, {1, 2, 3, 4}); push {1, 2, 3, 4};
restore 1 item(s);
PUSH: push True;
SWAP: pop True, 4; push True; push 4;
UPDATE: pop 4, True, {1, 2, 3, 4}; push {1, 2, 3, 4};

value              type
-----------------  -------
{ 1 ; 2 ; 3 ; 4 }  set nat

In [43]:
storage (set string) ;
parameter (pair string string) ;
BEGIN (Pair "mango" "apple") { "banana" ; "apple" ; "strawberry" } ;
UNPPAIAIR ;
DIP { SWAP } ;
PUSH bool True ;
SWAP ;
UPDATE ;
SWAP ;
PUSH bool False ;
SWAP ;
UPDATE ;
DUMP ;

storage (set string);
parameter (pair string string);
BEGIN: use %default; drop all; push (('mango', 'apple'), {'apple', 'strawberry', 'banana'});
DUP: push (('mango', 'apple'), {'apple', 'strawberry', 'banana'});
CAR: pop (('mango', 'apple'), {'apple', 'strawberry', 'banana'}); push ('mango', 'apple');
DIP: protect 1 item(s);
CDR: pop (('mango', 'apple'), {'apple', 'strawberry', 'banana'}); push {'apple', 'strawberry', 'banana'};
restore 1 item(s);
DUP: push ('mango', 'apple');
CAR: pop ('mango', 'apple'); push mango;
DIP: protect 1 item(s);
CDR: pop ('mango', 'apple'); push apple;
restore 1 item(s);
DIP: protect 1 item(s);
SWAP: pop apple, {'apple', 'strawberry', 'banana'}; push apple; push {'apple', 'strawberry', 'banana'};
restore 1 item(s);
PUSH: push True;
SWAP: pop True, mango; push True; push mango;
UPDATE: pop mango, True, {'apple', 'strawberry', 'banana'}; push {'mango', 'apple', 'strawberry', 'banana'};
SWAP: pop {'mango', 'apple', 'strawberry', 'banana'}, apple; push {'mango', 'apple', 'strawberry', 'banana'}; push apple;
PUSH: push False;
SWAP: pop False, apple; push False; push apple;
UPDATE: pop apple, False, {'mango', 'apple', 'strawberry', 'banana'}; push {'mango', 'strawberry', 'banana'};

value                                  type
-------------------------------------  ----------
{ "mango" ; "banana" ; "strawberry" }  set string

In [48]:
storage (set string) ;
parameter string ;
BEGIN "mango" { "banana" ; "apple" ; "strawberry" };
UNPAIR ;
DIP { DUP } ;
DUP ;
DIP { SWAP } ;
MEM ;
IF { FAIL } { PUSH bool True ; SWAP ; UPDATE } ;
DUMP ;

storage (set string);
parameter string;
BEGIN: use %default; drop all; push ('mango', {'apple', 'strawberry', 'banana'});
DUP: push ('mango', {'apple', 'strawberry', 'banana'});
CAR: pop ('mango', {'apple', 'strawberry', 'banana'}); push mango;
DIP: protect 1 item(s);
CDR: pop ('mango', {'apple', 'strawberry', 'banana'}); push {'apple', 'strawberry', 'banana'};
restore 1 item(s);
DIP: protect 1 item(s);
DUP: push {'apple', 'strawberry', 'banana'};
restore 1 item(s);
DUP: push mango;
DIP: protect 1 item(s);
SWAP: pop mango, {'apple', 'strawberry', 'banana'}; push mango; push {'apple', 'strawberry', 'banana'};
restore 1 item(s);
MEM: pop mango, {'apple', 'strawberry', 'banana'}; push False;
IF: pop False;
PUSH: push True;
SWAP: pop True, mango; push True; push mango;
UPDATE: pop mango, True, {'apple', 'strawberry', 'banana'}; push {'mango', 'apple', 'strawberry', 'banana'};

value                                            type
-----------------------------------------------  ----------
{ "mango" ; "banana" ; "apple" ; "strawberry" }  set string

In [53]:
storage (set int) ;
parameter unit ;
BEGIN Unit { 1 ; 2 ; 3 };
CDR ;
EMPTY_SET int ;
SWAP ;
ITER { PUSH int 3 ; ADD ; PUSH bool True ; SWAP ; UPDATE } ;
DUMP ;

storage (set int);
parameter unit;
BEGIN: use %default; drop all; push (Unit, {1, 2, 3});
CDR: pop (Unit, {1, 2, 3}); push {1, 2, 3};
EMPTY_SET: push [];
SWAP: pop [], {1, 2, 3}; push []; push {1, 2, 3};
ITER: pop {1, 2, 3}; push 1;
PUSH: push 3;
ADD: pop 3, 1; push 4;
PUSH: push True;
SWAP: pop True, 4; push True; push 4;
UPDATE: pop 4, True, []; push {4};
push 2;
PUSH: push 3;
ADD: pop 3, 2; push 5;
PUSH: push True;
SWAP: pop True, 5; push True; push 5;
UPDATE: pop 5, True, {4}; push {4, 5};
push 3;
PUSH: push 3;
ADD: pop 3, 3; push 6;
PUSH: push True;
SWAP: pop True, 6; push True; push 6;
UPDATE: pop 6, True, {4, 5}; push {4, 5, 6};

value          type
-------------  -------
{ 6 ; 5 ; 4 }  set int

In [56]:
storage (map address nat) ;
parameter address ;
BEGIN "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" { Elt "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" 5 ; Elt "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" 10} ;
DUP ;
DIP { UNPAIR } ;
UNPAIR ;
MEM ;
IF
    { PUSH (option nat) (None) ; SWAP ; UPDATE }
    { PUSH (option nat) (Some 1) ; SWAP ; UPDATE } ;
DUMP ;

storage (map address nat);
parameter address;
BEGIN: use %default; drop all; push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10});
DUP: push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10});
DIP: protect 1 item(s);
DUP: push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10});
CAR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
CDR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}); push {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10};
restore 1 item(s);
restore 1 item(s);
DUP: push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10});
CAR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
CDR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}); push {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10};
restore 1 item(s);
MEM: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}; push True;
IF: pop True;
PUSH: push None;
SWAP: pop None, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push None; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
UPDATE: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, None, {'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb': 5, 'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10}; push {'tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE': 10};

value                                              type
-------------------------------------------------  ---------------
{ Elt "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" 10 }  map address nat

In [185]:
DEBUG False ;
storage (big_map (address %spender) (nat %balance)) ;
parameter (pair (address %to) (nat %value)) ;
BEGIN (Pair "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" 10) { Elt "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" 100 } ;
PATCH SOURCE "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" ;

UNPPAIIR ;
DUP ;
SOURCE ;
IFCMPEQ
    { PUSH string "FORBIDDENTRANFER" ; FAILWITH }
    {} ;
DIG 2 ;
## Checks if source is in the ledger
DUP ;
SOURCE ;
MEM ;
IF
    {
        ## Checks if source has enough balance
        DUP ;
        SOURCE ;
        GET ;
        IF_NONE
            { PUSH string "ERROR" ; FAILWITH }
            {
                DUP ;
                DIP 4 { DUP } ;
                DIG 4 ;
                IFCMPGT { PUSH string "INSUFFICIENTBALANCE" ; FAILWITH } {} ;
            } ;
        ## Updates sender's balance
        DIP 3 { DUP } ;
        DIG 3 ;
        SWAP ;
        SUB ;
        ABS ;
        SOME ;
        SOURCE ;
        UPDATE ;
        ## Updates recipient's balance
        DIP { DUP } ;
        SWAP ;
        DIP { DUP } ;
        MEM ;
        IF
            {
                SWAP ;
                DIP { DUP } ;
                DUP ;
                DIP { SWAP } ;
                GET ;
                IF_NONE
                    {
                        DIG 2 ;
                        SOME ;
                        SWAP ;
                        UPDATE ;
                    }
                    {
                        DIG 3 ;
                        ADD ;
                        SOME ;
                        SWAP ;
                        UPDATE ;
                    } ;
            }
            {
                DUG 2 ;
                DIP { SOME } ;
                UPDATE ;
            } ;
        ## Ends execution
        NIL operation ;
        PAIR ;
    }
    { PUSH string "NOTAVALIDKEY" ; FAILWITH } ;
DUMP ;

value         type
------------  -----------------------------------------------------------------
Pair {} -121  pair (list operation) (big_map (address %spender) (nat %balance))

In [204]:
PATCH SOURCE "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" ;

storage (big_map (address %spender) (nat %balance)) ;
parameter (pair (address %to) (nat %value)) ;
code {
    UNPPAIIR ;
    DUP ;
    SOURCE ;
    IFCMPEQ
        { PUSH string "FORBIDDENTRANFER" ; FAILWITH }
        {} ;
    DIG 2 ;
    ## Checks if source is in the ledger
    DUP ;
    SOURCE ;
    MEM ;
    IF
        {
            ## Checks if source has enough balance
            DUP ;
            SOURCE ;
            GET ;
            IF_NONE
                { PUSH string "ERROR" ; FAILWITH }
                {
                    DUP ;
                    DIP 4 { DUP } ;
                    DIG 4 ;
                    IFCMPGT { PUSH string "INSUFFICIENTBALANCE" ; FAILWITH } {} ;
                } ;
            ## Updates sender's balance
            DIP 3 { DUP } ;
            DIG 3 ;
            SWAP ;
            SUB ;
            ABS ;
            SOME ;
            SOURCE ;
            UPDATE ;
            ## Updates recipient's balance
            DIP { DUP } ;
            SWAP ;
            DIP { DUP } ;
            MEM ;
            IF
                {
                    SWAP ;
                    DIP { DUP } ;
                    DUP ;
                    DIP { SWAP } ;
                    GET ;
                    IF_NONE
                        {
                            DIG 2 ;
                            SOME ;
                            SWAP ;
                            UPDATE ;
                        }
                        {
                            DIG 3 ;
                            ADD ;
                            SOME ;
                            SWAP ;
                            UPDATE ;
                        } ;
                }
                {
                    DUG 2 ;
                    DIP { SOME } ;
                    UPDATE ;
                } ;
            ## Ends execution
            NIL operation ;
            PAIR ;
        }
        { PUSH string "UNKNOWNSPENDER" ; FAILWITH } ;
} ;

RUN %default (Pair "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" 10) { Elt "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE" 100 ; Elt "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" 15 } ;

PATCH: set SOURCE=tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE;
storage (big_map (address %spender) (nat %balance));
parameter (pair (address %to) (nat %value));
code { { { DUP ; CAR ; DIP { CDR } } ; { DUP ; CAR ; DIP { CDR } } } ; DUP ; SOURCE ; { { COMPARE ; EQ } ; IF { PUSH string "FORBIDDENTRANFER" ; FAILWITH } {} } ; DIG 2 ; DUP ; SOURCE ; MEM ; IF { DUP ; SOURCE ; GET ; IF_NONE { PUSH string "ERROR" ; FAILWITH } { DUP ; DIP 4 { DUP } ; DIG 4 ; { { COMPARE ; GT } ; IF { PUSH string "INSUFFICIENTBALANCE" ; FAILWITH } {} } } ; DIP 3 { DUP } ; DIG 3 ; SWAP ; SUB ; ABS ; SOME ; SOURCE ; UPDATE ; DIP { DUP } ; SWAP ; DIP { DUP } ; MEM ; IF { SWAP ; DIP { DUP } ; DUP ; DIP { SWAP } ; GET ; IF_NONE { DIG 2 ; SOME ; SWAP ; UPDATE } { DIG 3 ; ADD ; SOME ; SWAP ; UPDATE } } { DUG 2 ; DIP { SOME } ; UPDATE } ; NIL operation ; PAIR } { PUSH string "UNKNOWNSPENDER" ; FAILWITH } };
RUN: use %default; drop all; push (('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10), -135);
DUP: push (('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10), -135);
CAR: pop (('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10), -135); push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10);
DIP: protect 1 item(s);
CDR: pop (('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10), -135); push -135;
restore 1 item(s);
DUP: push ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10);
CAR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
CDR: pop ('tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb', 10); push 10;
restore 1 item(s);
DUP: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
SOURCE: push tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE;
COMPARE: pop tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push -1;
EQ: pop -1; push False;
IF: pop False;
DIG: protect 2 item(s); pop -135; restore 2 item(s); push -135;
DUP: push -135;
SOURCE: push tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE;
MEM: pop tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE, -135; push True;
IF: pop True;
DUP: push -135;
SOURCE: push tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE;
GET: pop tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE, -135; push (100,);
IF_NONE: pop (100,); push 100;
DUP: push 100;
DIP: protect 4 item(s);
  DUP: push 10;
  restore 4 item(s);
DIG: protect 4 item(s); pop 10; restore 4 item(s); push 10;
COMPARE: pop 10, 100; push -1;
GT: pop -1; push False;
IF: pop False;
DIP: protect 3 item(s);
DUP: push 10;
restore 3 item(s);
DIG: protect 3 item(s); pop 10; restore 3 item(s); push 10;
SWAP: pop 10, 100; push 10; push 100;
SUB: pop 100, 10; push 90;
ABS: pop 90; push 90;
SOME: pop 90; push (90,);
SOURCE: push tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE;
UPDATE: pop tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE, (90,), -135; push -135;
DIP: protect 1 item(s);
DUP: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
restore 1 item(s);
SWAP: pop -135, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push -135; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
DUP: push -135;
restore 1 item(s);
MEM: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, -135; push True;
IF: pop True;
SWAP: pop -135, tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push -135; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
  DUP: push -135;
  restore 1 item(s);
DUP: push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
DIP: protect 1 item(s);
  SWAP: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, -135; push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push -135;
  restore 1 item(s);
GET: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, -135; push (15,);
IF_NONE: pop (15,); push 15;
  DIG: protect 3 item(s); pop 10; restore 3 item(s); push 10;
  ADD: pop 10, 15; push 25;
  SOME: pop 25; push (25,);
  SWAP: pop (25,), tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb; push (25,); push tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb;
  UPDATE: pop tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb, (25,), -135; push -135;
NIL: push [];
PAIR: pop [], -135; push ([], -135);

  value  type
-------  -----------------------------------------
      8  big_map (address %spender) (nat %balance)
  big_map  action    key                                     value
---------  --------  --------------------------------------  ------------
        8  alloc     address %spender                        nat %balance
        8  update    "tz1UVzNHTxMzkPn1uMXaSCTJYBQQc4x5dyNE"  90
        8  update    "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb"  25